.App {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Red Hat Text', sans-serif;
}

.App_landing {
  width: 100%;
}
.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}
.dark-blue-text {
  color: white;
}
.link {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: bold;
}
.welcomeMessage{
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav.ml-auto {
  background-color: white;
  border-radius: 4px;
  width: max-content;
}
.btn.btn-danger.btn-block {
font-size: 20px;
}

.landing_start{
  position: relative;
}

.landing_start_button {
  cursor: pointer;
  position: absolute;
  margin-top: 35%;
  margin-left: 46%;
  width: 150px;
  height: 50px;
  background-color: #f5f5ef;
  border-radius: 10px;
  animation: landing_start_button 2s linear infinite;
  text-decoration: none;
  z-index:2;
  
}
.landing_start_button p {
  text-align: center;
  color: black;
  font-weight: bold;
}

@keyframes landing_start_button {  
  80% { opacity: 60%; }
}

.top {
  width: 100%;
  background-color: #074787;
  position: relative;
  margin-top: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: white;
  flex-wrap: wrap;
}

.topLeft {
  /* flex: 3; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding:1%;
}

.topRight{
  justify-content: right;
  padding:1%;
  flex: 3;
  text-align: right;
  display: flex;
  align-items: center;
}

.topIcon {
  font-size: 20px;
  color: #444;
  cursor: pointer;
}

.topCenter {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:1%;
  width: 100%;
  flex-direction: column;
}

.topList {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  padding:1%;
  cursor: pointer;
}

.topListItem:hover{
    color: black;
    background-color:white;
    border-radius: 3px;
}

.topImgLeft {
  width: 200px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  display: flex;
  text-align: left;
  border-radius: 10px;
}

.topImgRight{
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
  cursor: pointer;

}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.header {
  position: relative;
  margin-top: none;
  display: flex;
  justify-content: center;
}

.headerTitles {
  display: block;
  text-align: center;
  color: #444;
  position: absolute;
  top: 20%;

}

.headerTitleSml {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.headerTitleRight {
  color: white;
  text-align: right;
}

.headerTitleLg {
  font-size: 60px;
  color: white;
  font-weight: bold;

}

.headerTitleRight{
  position: absolute;
}

.headerImg {
  width: 100%;
  height: 1100px;
  display: flex;
  margin-top: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.map {
  display: flex;
  width: 100%;
}
.us-state-map {
  flex: 9;
  width: 700px;
}

.headerStateSelect {
  color: white;
  margin-left: 2%;
  flex: 3;
  margin:3%;
  font-size: 25px;
  font-weight: bold;
}
.headerStateSelect a{
  color: white;
  background-color: #016381;
  padding: 3px 15px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

path {
  pointer-events: all;
}
path:hover {
  fill: #016381;
  cursor: pointer;
}

.filter_button {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #016381;
  color: white;
  border-radius: 6px;
}

.post {
  width: 250px;
  height: fit-content;
  margin: 10px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  background-color: rgb(227, 245, 245);
  color: #063b9d;
}

.postImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  z-index:2;
}

.postInfo {
  align-items: center;
  transition: .5s ease;
  margin: 1px 25px 40px 25px;
}

.postDesc {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: gray;
  margin: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.posts {
  display : flex ;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

.sidebar {
  /* flex: 3; */
  height: fit-content;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.singleParkPost {
  display: flex;
}

.parkPost {
  flex: 9;
  /* display: flex; */
  flex-wrap: wrap;
  margin: 20px;
  background-color: #e4f5f4;
  
}
h4 {
  font-size: 20px;
}


.sidebarPark {
  flex: 3;
  padding: 30px;
  background-color: #b4d5effc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.sidebarTop{
  text-align: center;
  font-size: 25px;
}
.sidebar h4{
  margin: 4%;
  font-size: 20px;
 
}
.sidebarTop p{
  font-size: 20px;
  font-weight: lighter;
}
.info_Park {
  font-size: 20px;
  font-weight: lighter;
}

.postTitle {
  font-size: 35px;
  width: 100%;
  /* margin: 15px; */
  text-align: center;
}
.postTitle p{
  font-size: 20px;
  margin: 20px;
  text-align: left;
  margin-bottom: 10%;
  font-weight:lighter;
}


.home, .favoritepage {
  display: flex;
}

.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePostImg {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.singlePostTitle{
  text-align: center;
  margin: 10px;
  font-size: 50px;
}
.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:odd-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostIcon.fa-regular.fa-heart{
  color: red;
  /* background-color: currentColor; */
}


.singlePostIcon.fa-regular.fa-heart:before {
  top: -25px;
  left: 0;
}

.singlePostIcon.fa-regular.fa-heart:after {
  left: 25px;
  top: 0;
}

.singlePostIcon.fa-regular.fa-heart:focus {
  color: black;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656; 
}

.singlePostAuthor{
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.write {
  padding-top: 50px;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: block;
  align-items: center;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 50vw;
}

/* .writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
} */

.writeText {
  width: 70vw;
  height: 100vh;
  font-family: inherit;
  font-size: 20px;
}

.writeSubmit {
  position: absolute;
  top: 30px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.container, .container1 {
  /* position : relative; */
  display : flex ;
  flex-wrap: wrap;
  align-items : center;
  justify-content : center;
  padding : 30px;  
  margin-top: 2%;
  margin-bottom: 2%;
}

/* .container2 {
  display: flex;
  flex:9;
  font-size: 20px;
} */
.heading {
  background: #b4d5effc;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}

.activity_heading {
  color: green;
  font-size: 25px;
}
.heading h2 {
  
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    padding-top: 15px;
    
}

.heading h2:after,.heading h2:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #772e25;
  border-top: 1px solid #772e25;
  height: 5px;
  background-color:white;
}
.heading button {
background: white;
height: fit-content;
width: fit-content;
border-radius: 18px;
margin: 0.5%;
font-weight: bold;
font-size: 18px;
box-shadow: inset 0 0 0 0 #275d23;
transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.heading button:hover {
  box-shadow: inset 160px 0 0 0 #016381;
    color: white;
  }

.container .card {
  /* position: relative; */
  max-width : 250px;
  height : 220px;  
  background-color : #016381;
  margin : 30px 10px;
  padding : 20px 15px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container .card:hover {
  height : 320px;    
}

.card2 {
  width : 250px;
  height : 215px;  
  background-color : #ecd9c4;
  margin : 30px 10px;
  padding : 20px 15px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  border-radius : 15px;
  font-weight: bold;
}

.card2 h3 {
  height: 50px;
}

.card2 a {
  text-decoration: none;
  color: white;
  background-color: #4f5d3e;
  padding: 2%;
  border-radius: 4px;
  font-size: 50;
}

.container .card .image {
  position : relative;
  width : 100%;
  top : -40%;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
  background-color:#e4f5f4;
  border-radius: 10px;
}
.image h3 {
  margin-left: 5px;
  height: 52px;
}

 .image img {
  width : 100%;
  height : 202px;
  border-radius : 15px;
  object-fit: cover;
}

.container .card .content{
  position : relative;
  top : -160px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
  overflow: hidden;
   display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;   
}
button {
  margin-left: 6px;
  margin-bottom: 4px;
  font-family: 'Red Hat Text', sans-serif;
  border: none;
  background:none;
  cursor: pointer;
}

.button_submit {
  cursor: pointer;
  color: black;
  font-weight: bold;
  background-color: white;
 
}

.button_login {
  cursor: pointer;
  color: blue;
  font-weight: bold;
  background-color: white;
  border-radius: 8px;
  font-size: 20px;
}

.content a {
  color: #050404;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  background-color: white
  ;
  border-radius: 5px;
  padding: 3px;
}
.container .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
   color: white;
}

.card_img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 3%;
  cursor: pointer;
  position: relative;
}
.card_img:nth-child(even){
  background-color: #a1e0f3;
}

.card_img:nth-child(odd){
  background-color: #e4f5f4;
}

.card_imgPark{
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
  margin: 3%;
  /* cursor: pointer; */
  position: relative;
  background-color: #b4d5effc;
  font-size: medium;
  align-items: center;
}
.card_imgPark:nth-child(even){
  background-color: #a1e0f3;
}

.card_imgPark h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_img h3 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: auto auto;
  transform: translate(-50%, -50%);
}

.card_img a{
text-decoration: none;
align-items: center;
color: black;
box-shadow: inset 0 0 0 0 #54b3d6;
transition: color .3s ease-in-out;
font-size: 20px;
}


.card_img:hover {
  width: 250px;
	height: 250px;
	/* border-radius: 50%; */
	position: relative;
	transition: all 0.4s ease-in-out;
}

.post {
  margin: .5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  background-color:white;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

/* .post:hover {
  opacity: 30%;
  transition:opacity 1s;
} */

/* .postImg {
  position: relative;
} */
.postImg:hover {
  opacity: 20%;
  transition:opacity 1s;
} 

.post .img__description {
  position: absolute;
  visibility: hidden;
  margin-left: 50%;
  margin-right: 50%;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.post:hover .img__description {
  position: absolute;
  visibility: visible;
  margin-left: 50%;
  margin-top: 40%;
  transform: translate(-50%, -50%);
}

.favoriteOrNot {
  margin-left: 88%;
  margin-bottom: 2%;
  background: none;
  border: none;
  cursor: pointer;
}

.fa-solid.fa-heart {
  color: rgb(224, 19, 19);
  font-size: large;
}
.fa-regular.fa-heart {
  color: rgb(224, 19, 19);
  font-size: large;
}

.user_profile {
  display: flex;
  flex-wrap: wrap;
}
.user_img{
  flex:4;
  width: 100%;
}

.user_details {
  flex: 8;
  width: 100%;
  margin-top: 4%;
  margin-left: 4%;

}

/* filter option */

.dropdown {
  position: relative;
  cursor: pointer;
  flex: 2;
}

.menu {
  position: absolute;
  list-style-type: none;
  padding: 0;
  border: 1px solid grey;
  width: 100px;
}

.menu > li {
  margin: 0;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.full_container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    margin-bottom: 3%;
    border-radius: 10px;
    height: 800px;
  }
.video_space, .video_space2{
    flex: 1;
    padding: 1em;
    text-align: center;
    margin: auto auto;
  }
/* .video_space2 {
  background: white;
  margin-right:4%;
  margin-left:4%;
  border-radius: 5px;
} */

.video_heading{
    color: white;
    font-size:60px;
  }
.video_paragraph {
  color: white;
  font-size: 20px;
}

.form {
  margin-bottom: 4%;
}
.formBorder {
  display: flex;
  width: 80%;
  align-items: center;
  margin: auto auto;
  flex-wrap: wrap;
}

.formSide, .formSide2{
  /* flex:4; */
  background: rgb(226, 202 ,176,1);
  height: 300px;
  margin: 0.50%;
  border-radius: 12px;
  width:300px;
}

.formcentre {
  flex:6;
  text-align: center;
  background: #074787;
  border-radius: 12px;
  color: white;
  font-size: 30px;
  padding: 2%;
}
.formInput {
  text-align: left;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  
}
#add-user-name, #add-user-email{
  width:50%;
}
.formSide2 h3 {
  text-align: center;
  margin-top: 15%;
  padding:2%;
  max-height: fit-content;
}

#add-user-name #add-user-email{
  width: 50%;
}

.contactTop {
  text-align: center;
  margin-top: 5%;
}

.contactTop a {
cursor: pointer;
text-decoration: wavy;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
  .search {
    width: 80%;
    position: relative;
    display: flex;
    text-align: center;
    margin: auto auto;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #016381;
    border-right: none;
    font-weight: bold;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #016381;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #016381;
    background: #016381;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

@media (max-width:1025px)  { /*  Desktops, large screens. */ 
  .us-state-map {
    width: 400px;
  }
  .formBorder {
    width: 80%;
  }
  .formSide, .formSide2, .formcentre{
    width: 100%;
    margin: 2%;
  }
  .full_container{
    width: 100%;
  }
}
@media (max-width:715px)  { 
  .full_container{
    width: 100%;
    display: block;
    height: fit-content;
  }
  .video_space {
    margin: 2%;
  }
  .video_space3 {
    display: flex;
  }
  .singleParkPost {
    display: block;
}
}
@media (max-width:980px)  { 

.top {
  display: block;
}
.topRight {
  justify-content: center;
} 
}

@media (max-width:420px)  { 
  .us-state-map {
    width: 300px;
  }
  .topList{
    display: block;
    text-align: center;
  }
}












   








